[2009-10-16 23:27] pgr0ss opened #1 "New svn:externals format breaks cc.rb"
If you have a subversion repository using the new svn externals (such as relative URLs), cc.rb says error when it tries to check the working copy to see if it's up to date.

For example, this is fine:
external_path    svn://rubyforge.org/var/svn/cruisecontrolrb/trunk/daemon

but this will break cc.rb:
^/passing_project caret_external

The arguments in the new format have been reversed, and cc.rb d

[2010-01-09 01:52] xeger opened #2 "EmailNotifier plugin's Net::SMTP monkey patch is broken under Ruby 1.8.7"
In short, the check_auth_args method has changed arity and the monkey patch is still using the old arity (three args instead of two). Ruby 1.8.7 uses two separate methods, check_auth_method and check_auth_args, to accomplish the same thing.

The following patch illustrates the problem and the solution:

[code]

[2010-01-13 19:00] andhapp opened #3 "Download build.log if build log is too long"
A very big build log is sensibly truncated and not displayed in the dashboard. In such a circumstance, I should be able to just download the build.log on my local machine and inspect it for problems since not all the test/errors and failures are displayed in the dashboard for some reason.

[2010-01-21 08:47] evtuhovich opened #4 "Build Changeset on web-interface looks ugly on ruby1.9.1"
Build Changeset in web interface looks like this:

[SourceControl::Git::Revision:(0a9cbe11581ec160af7ac152746fc3d006b49244)]

Here a patch to fix it.

<pre>
diff --git a/app/models/project.rb b/app/models/project.rb
index e1f86d4..8a1d15a 100644
--- a/app/models/project.rb
+++ b/app/models/project.rb
@@ -267,7 +267,7 @@ class Project
     begin
       if build_necessary?(reasons = [])
         rem

[2010-02-17 18:01] jberkel opened #5 "smtp send problems on Ruby 1.9.1"
need to monkey patch rails (fixed in 2.3.6)

cf https://rails.lighthouseapp.com/projects/8994-ruby-on-rails/tickets/2340-action-mailer-cant-deliver-mail-via-smtp-on-ruby-191#ticket-2340-3

[code]

[2010-02-17 18:42] jberkel opened #6 "cruise should accept --trace / --verbose argument"
...and pass it on to builder. at the moment there's $VERBOSE_MODE, but it doesn't get set from a command line flag.

[2010-02-21 03:31] vraravam commented on #3
Just providing a link to the build log file just renders it as text without any truncating - this is what we use on our current project.

[2010-02-21 12:28] andhapp commented on #3
@vraravam - Exactly. I was going to create a patch for the same but decided to enquire what others were doing. Thanks.

[2010-12-02 10:42] pschyska opened #12 "r1.9 - [error] invalid byte sequence in US-ASCII"
I'm getting  invalid byte sequence in US-ASCII which is a sign for missing magic encoding comment in some source file. unfortunateley i can't see the stack trace to i dont know which file it is.
There should be a line
    # -_\- encoding : utf-8 -_-
as the first line in every source file as a requirement for ruby-1.9.

Thanks,

Paul

[2011-05-05 00:41] bguthrie commented on #12
I've been poking around and I can't replicate this. Also, I haven't been able to find any background on the encoding requirement in Ruby 1.9. I'm using 1.9 to run CC.rb locally and I haven't run into any trouble with it - can you still replicate the problem?

[2011-05-06 19:00] austinthecoder opened #15 "FAILED: uninitialized constant RAILS_ROOT"
I get that error when running:
./cruise add owl -r <repo> -s git

from the master branch of cruisecontrol.rb

[2011-05-06 19:00] austinthecoder opened #16 "FAILED: uninitialized constant RAILS_ROOT"
I get that error when running:

./cruise add owl -r repo -s git

from the master branch of cruisecontrol.rb

[2011-05-07 00:19] bguthrie commented on #16
Thanks for the bug report; don't know how I missed this in the initial sweep. It's been fixed in 094ed66860e05ccdbc1f5d7251230c8c44b8b94d. If you get a chance, please test it and confirm the fix.

[2011-05-13 12:45] iconnor commented on #3
@vraravam I like the idea of a direct link in the email - if you make a patch, I will be happy to test - thanks.

[2011-05-13 13:31] vraravam commented on #3
Sorry - I am on a Java project - and am not using ccrb right now. So my turn-around time would be a little high.

[2011-05-13 13:38] iconnor commented on #3
It looks like there is already a link to the failure but just need to add '/build.log' to the end in an additional link. Do you know where this code lives? It did not look to be as easy as just changing the mail template.

[2011-05-13 14:42] andhapp commented on #3
I would love to help but I am tied up with other projects and I don't use ccrb anymore. I am using Jenkins (Hudson).

[2011-05-15 07:28] bikashp opened #18 "ruby 1.9.2 compatibility"
Though official documentation says, CC works with 1.8.6 only but seems people are using it with higher versions also. But does it work with 1.9.2. I tried to use it but it gave following error:

[code]

[2011-05-15 10:37] bguthrie commented on #18
Hi bikashp - I'm currently running CC.rb master on my local machine under Ruby 1.9.2 and it's working okay for me. Can you tell me what command you executed to receive the above error? Was it ./cruise start?

[2011-05-15 12:34] bikashp commented on #18
No, the error above was shown while adding project.
./cruise add projectname -r gitrepo -s git --trace

I'm using ruby-1.9.2-p180.

[2011-05-17 02:50] bguthrie commented on #18
The issue appears to have been one of using incorrect load paths rather than Ruby compatibility. Please verify fix in 5308ece2963246d6bf1ef329c24fddf21733a3da if you get a chance.

[2011-05-17 04:13] betarelease commented on #3
I found three locations - and I dont know which one @iconnor you are talking about but here it goes
- build.rb
  def contents_for_display(file)
- show.html.erb
     <div class="section_content"><div class="logfile"><%= format_build_log(@build.output) %></div><div><%= link_to "See unformatted build log&hellip;".html_safe, build_artifact_path(:project => @project.name, :build => @build.label, :path

[2011-05-17 04:23] betarelease commented on #12
We should close this cause according to Yehuda Katz (http://yehudakatz.com/2010/05/17/encodings-unabridged/)
"When using Rails 3.0 with Ruby 1.9.2-final, you will generally not have to care about encodings."

Which is why you are able to reproduce the problem either.

[2011-05-17 04:47] bikashp commented on #18
Thanks. That fixed my problem.

[2011-05-17 04:47] #18 closed, assigned to bguthrie

[2011-05-17 06:10] bguthrie commented on #12
Ahh, I didn't see that article before. Thanks for the heads up, Sudhindra. Closing this one out.

[2011-05-17 06:10] #12 closed, assigned to nobody

[2011-05-18 17:04] aabdalla opened #23 "not all errors are displayed on build page"
One of the most valuable features of CruiseControl is the ability to get a snapshot of a build. If only some errors are visible sometimes, we lose some of the core value.

[2011-05-18 17:05] aabdalla commented on #23
This happens because the errors are displayed as a consequence of looking at only the displayed build.log content which is a truncated version of the actual build.log. If errors reside in the truncated portion of the build log they are never displayed on the build page.

[2011-05-18 18:14] #16 closed, assigned to bguthrie

[2011-05-19 07:02] greut opened #25 "Color support for build log"
It would be super nice to replace BASH colors to `<span style="color:#…">…</span>` when displaying the build.log

[2011-05-20 04:08] srushti commented on #3
You should take a look at #23 (and its pull request #24). It's an attempt to make sure the errors, at least, are displayed regardless of the length of the build log. That might serve your needs until this issue is addressed specifically.

[2011-05-27 12:36] cflipse opened #28 "Your build is broken"
http://cruisecontrolrb.thoughtworks.com/builds/CruiseControlRB

And has been since April 27th, almost a month.

[2011-05-27 12:59] bguthrie commented on #28
Thanks for the heads up. I'm aware it's been broken since the upgrade and for various reasons I haven't been able to get access until fairly recently to the system that hosts that server. Expect a fix soon.

[2011-05-31 11:36] bguthrie commented on #28
Attempted a fix today but the box it's running on is ancient and we had some trouble, and ThoughtWorks IS is recommending (and I agree) that we should replace it. New server is getting provisioned tomorrow. In the meantime, I'll work on ensuring that CC.rb is still daemonizable.

[2011-05-31 15:30] bguthrie commented on #2
Many apologies for the ridiculously late resolution to this. This has been solved, and the monkey-patch eliminated, as part of the upgrade to Rails 3.

[2011-05-31 15:30] #2 closed, assigned to bguthrie

[2011-05-31 15:31] bguthrie commented on #4
I believe that this is still true. To fix soon.

[2011-05-31 15:33] bguthrie commented on #3
I'm currently evaluating that solution. I'm not yet convinced that allowing CC.rb to parse the entire file is a wise idea but am happy to accept the patch if others believe that this is a reasonable fix.

[2011-05-31 15:34] bguthrie commented on #5
Many apologies for the ridiculously late resolution. This has been resolved, and the existing monkey patch eliminated, as part of the upgrade to Rails 3.

[2011-05-31 15:34] #5 closed, assigned to bguthrie

[2011-05-31 15:41] bguthrie commented on #15
This was definitely a problem with the initial upgrade--thank you for reporting the issues. I believe it's been fixed now as part of a separate bug report, so I'm closing it out.

[2011-05-31 15:41] #15 closed, assigned to bguthrie

[2011-05-31 15:43] bguthrie commented on #25
I agree that this would be a nice thing to have, and I'm tentatively assigning to to a 2.1.0 release milestone.

[2011-05-31 15:46] bguthrie commented on #1
CC.rb's internal SVN test repositories have been upgraded to what I believe to be the latest version, so some part of this may have been resolved. As of June 2011, however, I view this as a low-priority issue. Patches welcome, tentatively assigning to a 2.1.0 milestone.

[2011-05-31 15:49] bguthrie opened #31 "CC.rb doesn't function correctly in Windows"
CC.rb should function correctly on Ruby 1.9 and Rails 3 on Windows, which is to say:
- backwards-compatible with existing site and project configs
- installable and runnable via a gem
- starts and stops builders and builds projects

[2011-05-31 15:52] bguthrie opened #32 "Ensure JRuby Compatibility"
CC.rb should function correctly on Ruby 1.9 and Rails 3 on Windows, which is to say:
- backwards-compatible with existing site and project configs
- installable and runnable via a jar
- starts and stops builders and builds projects
- compatible across Mac, Linux, Windows platforms

[2011-05-31 15:54] bguthrie opened #33 "Ensure CC.rb is daemonizable"
CC.rb should be daemonizable under Unix-like environments under Ruby 1.9 and Rails 3, which is to say:
- backwards-compatible with existing site and project configs
- startable/stoppable via init script
- monitorable and killable (creates pid files for master and child processes as appropriate)
- starts and stops builders and builds projects

[2011-05-31 15:55] bguthrie opened #34 "Upgrade CC.rb to Rails 3"
This is already complete in the sense that all tests pass and the application can perform builds correctly, but certain use cases (daemonization and cross-platform compatibility) need additional testing.

[2011-05-31 15:56] #34 closed, assigned to bguthrie

[2011-05-31 15:59] bguthrie opened #35 "Add support for installing gems into projects that use Bundler"
In order for build-via-Rake-command to make any sense at all, a modern CI server must check for the existence of a Gemfile and honor it if necessary by resolving dependencies to Bundler's satisfaction.

This is currently working in a limited sense and CC.rb will honor Gemfiles if they exist by bundle gems into the vendor path that's local to the project. But the bundle install command needs to be

[2011-05-31 16:03] bguthrie opened #36 "Add ability to restart builders via the UI"
The builder concept is an implementation detail that unfortunately leaks through to the UI. Certain experienced users have requested the ability to kill builders via a button, because they go awry from time to time. Better, IMO, would be to improve builder management to the point where CC.rb detects and kills bad ones itself, but in the meantime we should add the ability to kill builders via a bui

[2011-05-31 16:06] bguthrie opened #37 "Add a new project from the UI"
This is already available in the latest builds. Added for tracking purposes.

[2011-05-31 16:06] #37 closed, assigned to bguthrie

[2011-05-31 16:09] bguthrie opened #38 "General user interface cleanup and aesthetic refinement"
In order to create a clean break with past releases, the UI should be revamped slightly. I'm not proposing a complete redesign, but what elements exist already should be tweaked to provide maximal information content in less space than they occupy now, and more and better information should be made available on the build page. I'm currently working on this and plan to post screenshots here or on t

[2011-05-31 16:11] bguthrie opened #39 "Project information made available via JSON/P request"
In order to update certain elements of the UI in a more dynamic fashion, and in order to support third-party consumers beyond your standard CCTray consumers, it would be nice to provide a JSON representation of the project resource. I'm currently working on this in a local fork.

[2011-05-31 16:46] bguthrie opened #40 "Package and run CC.rb as a gem"
You should be able to install CC.rb in gem form via Rubygems. Such a gem should expose the cruise executable as an entry point into the app, and should be daemonizable on that basis as well. It should work on Windows, Linux, and Mac.

[2011-05-31 23:05] bguthrie opened #41 "Update documentation"
The documentation needs to be revised. Specifically:
- documentation of all new config features, e.g. Bundler
- documentation of Builder model
- HOWTOs for running and configuring the app - these should not have changed drastically but still need to be examined
  - including HOWTO for new .jar package
- update and clean up the README
- replace pointer to Mingle on CC.rb home page with pointer to b

[2011-05-31 23:07] bguthrie opened #42 "Fix documentation at thoughtworks.github.com/cruisecontrol.rb"
Either get the documentation statically generated so we can place it there or put a redirect in place that points to cruisecontrolrb.thoughtworks.com.

[2011-06-01 12:22] ketan commented on #32
Tests are green as of rev 0eebf5a3e3512131bc6a. The server seems to run fine using jetty and as a standalone jar.

Marking as closed. I'll open more specific issues around running the individual scripts from the jar later.

[2011-06-01 12:22] #32 closed, assigned to ketan

[2011-06-03 10:35] spritle commented on #42
1+
Please fix documentation

[2011-06-03 19:48] ask4prasath commented on #42
+1 Down for longtime

[2011-06-06 14:04] bguthrie opened #43 "Rails 3 upgrade breaks existing site_config.rb files"
CRUISE_DATA_ROOT used to be located in the global namespace and has been moved to CruiseControl::Application::CRUISE_DATA_ROOT. I'm generally for replacing these kinds of _global_ constants with their namespaced equivalents, but we can't break existing site_config settings without a deprecation warning. To fix:
- restore the global constant
- point the constant towards an accessor, either on Cruis

[2011-06-06 14:06] bguthrie opened #44 "Rails 3 upgrade breaks existing browser sessions"
As reported by @alexeyv:

Rails session (cookie based, of course) from the older Rails version makes the newer Rails version blow up thus:

`ActionDispatch::Session::SessionRestoreError (Session contains objects whose class definition isn't available. Remember to require the classes for all objects kept in the session.
(Original exception: uninitialized constant ActionController::Flash::FlashHash

[2011-06-09 04:36] bguthrie commented on #36
@nolman and friends have contributed a kill builders button here: https://github.com/thoughtworks/cruisecontrol.rb/pull/45. Still pending: disable it on platforms that don't yet support it.

[2011-06-09 14:18] bguthrie commented on #28
Build is currently passing at http://cruisecontrolrb.thoughtworks.com/builds/CruiseControl, thanks to @ketan (for the fix that pushed it into green) and @ranjibd and @ajeygore for the environment setup.

[2011-06-09 14:18] #28 closed, assigned to bguthrie

[2011-06-11 04:51] #43 closed, assigned to nobody

[2011-06-11 16:18] ketan commented on #42
The documentation on the website is fixed; as such I'd like to mark this as closed.

Would people still prefer some form of static documentation generation process?

[2011-06-12 03:50] spritle commented on #42
We can close this issue.

[2011-06-13 22:11] ketan opened #46 "Update the CHANGELOG file in preparation for 2.0"
The changelog needs to be updated in preparation for 2.0. I'll push in some of the major changes until this point.

Keeping this one open so that any new noteworthy changes that happen should be updated in the changelog file as the change is being made.

[2011-06-13 23:06] #42 closed, assigned to ajeygore

[2011-06-16 18:01] kpumuk commented on #44
To fix the problem just change one letter in `cookie_verification_secret.rb`

[2011-06-16 23:32] bguthrie commented on #44
In other words, use a new token rather than re-using the old one? The one we're using was carried over as part of the upgrade to Rails 3 from its previous value.

[2011-06-17 00:32] kpumuk commented on #44
Absolutely right. I just upgraded yesterday, and it helped

[2011-06-17 00:34] kpumuk commented on #44
The reason it helps is Rails abandon session with invalid key

[2011-06-17 15:07] #44 closed, assigned to nobody

[2011-06-18 09:52] ketan opened #48 "[ui] /projects does not render link to currently running build"
Steps to reproduce:
- Add a project with a git url
- Wait for project to trigger
- The /projects url does not show a link to the currently running build. It merely says 'building'

OR
- Hit build on an existing project
- The project page renders out a link to the previous build but does not render a link to the current build.

[2011-06-18 16:42] #48 closed, assigned to nobody

[2011-06-18 19:04] kpumuk opened #50 "Server does not stop using daemon/cruise stop"
There are several related issues:
1. `daemon/daemon_helper.rb` requires mongrel to be installed system wide, but then it starts server, which uses Bundler, and there is no mongrel in Gemfile. So Webrick is always being used.
2. `mongrel_rails` is not able to stop Webrick server for some reason.

To fix the issue, it's necessary to do following:
1. Do not load rubygems in `daemon_helper.rb`, and do

[2011-06-21 17:54] ywen opened #52 "builds sidebar lost coloring"
in public/cruisecontrol.less, line #383. it specify the color of the text to be cruise-blue.

[code]

I believe in the older versions, when a build failed, the sidebar text is red, which is what I want. I couldn't just use customized site.css to override it using failed class because this overrides a.failed. The only solution seems to get rid of this line.

Is there a reason you want it to be ther

[2011-06-21 19:59] ywen opened #53 "git changeset"
it gave me something like this:
     [SourceControl::Git::Revision:(bc2feba87882f81ad6f601ed72a7f241d3ac2c2f)]

instead of the files being changed, who changed etc.

the version is the current master.

Thanks

[2011-06-21 21:56] bguthrie commented on #53
That's been happening for a while, and is a duplicate of https://github.com/thoughtworks/cruisecontrol.rb/issues/4, which is in the "to fix soon" bucket.

[2011-06-21 21:56] #53 closed, assigned to nobody

[2011-06-21 22:00] bguthrie commented on #52
I removed it because my subjective judgment was that it wasn't very visually attractive and the feedback that it provided above and beyond the word "failed" didn't justify keeping it, but I don't feel very strongly about that, and will consider bringing it back if enough people miss it.

[2011-06-21 22:11] ywen commented on #52
I don't know. A word is always less visually "standing-out" than colors, at least for me. In a galance, red color is/should be more alarming than  "FAILED". This could be just me.

That being said, I think at least the css should give the users a chance to override this setting in site.css.

[2011-06-22 04:33] bguthrie commented on #35
A serviceable implementation of Bundler integration is in place and I'd prefer to track future problems with this feature in finer-grained pieces. Closing this one out.

[2011-06-22 04:33] #35 closed, assigned to bguthrie

[2011-06-22 04:34] bguthrie commented on #38
This has been merged in and we're tracking further issues with it in smaller pieces. Closing.

[2011-06-22 04:34] #38 closed, assigned to bguthrie

[2011-06-22 05:08] bguthrie opened #54 "Display a link to CCMenu API URL on the dashboard"
As a CI user, I'd like to be able to copy and paste a URL into CCMenu/CCTray so I can monitor builds from my desktop.

Requested by @alexeyv.

[2011-06-22 05:47] bguthrie commented on #40
A first pass at this has been added in c598ddd78e8e0a916eadeb65505e4e9d6a547137. It requires more testing before we can close this issue.

[2011-06-24 07:09] bguthrie opened #55 "Current screencast contains incorrect information"
It needs to be re-recorded as a general part of the 2.0 deliverable.

[2011-06-24 07:11] bguthrie opened #56 "Provide a way to separate apart a project into multiple build stages"
Right now, CC.rb has no way, either visually or in the config, to break a project's build into multiple stages. Multiple builds that share the same SCM are separated using an "if"-switch in the project config, and although one "project" can depend on another, there's no visual indication of those relationships.

In order to build anything even remotely resembling a proper build pipeline, it would

[2011-06-24 14:30] ywen commented on #4
After pulled the the latest source. It seems to be fine with manually requested builds. But not the builds that triggered by an actual push

[2011-06-24 14:56] ywen commented on #4
Here's the screenshots:

same commit, the first one was triggered by the real commit:

http://cl.ly/0E3M2l2i3b0i3U3k053F

And this one is triggered manually:

http://cl.ly/2d3y0e1l3n313u3s1Y1g

Thanks

[2011-06-25 13:02] bguthrie commented on #36
Finalized here: 4f65b38dca22a6dba177b3a6f5a7e1d28114ed58

[2011-06-25 13:02] #36 closed, assigned to bguthrie

[2011-06-25 13:03] bguthrie commented on #4
That's odd. Thanks very much for contributing the screenshots; I'll re-open.

[2011-06-27 23:34] bguthrie opened #57 "Detect and execute .rvmrc files before building"
Currently CC.rb doesn't integrate with RVM, in the sense that it has no way to automatically handle any .rvmrc files that might be checked into your project. You can handle them yourself with a custom build script, but the default build mechanism does nothing for you. If this is a feature that would be helpful, we should target it for a future release.

[2011-06-28 10:19] bguthrie opened #58 "Builders should place their .log files inside the Cruise home directory"
Currently, the code is (inside `script/builder`):

[code]

It should get changed to place the log file in the Cruise home directory (by default, ~/.cruise).

[2011-06-28 18:18] trcarden opened #59 "The demo app (cruise monitoring itself) is down"
Its pretty bad when the solution demo is busted: http://cruisecontrolrb.thoughtworks.com/projects

[2011-06-28 23:26] bguthrie commented on #59
We've rebuilt the prod environment recently and it's not entirely stable yet. We'll take a look. Thanks for the bug report.

[2011-06-29 01:50] bguthrie commented on #59
Fixed thanks to @ketan.

[2011-06-29 01:50] #59 closed, assigned to nobody

[2011-07-01 07:28] #3 closed, assigned to bguthrie

[2011-07-01 07:32] bguthrie opened #60 "CC.rb should look for and integrate with JUnit test output"
If JUnit test results exist--for example, as generated by a tool like [ci_reporter](https://github.com/nicksieger/ci_reporter)--we should recognize them and use them to render completion rates and build failures. Running the entire build log through BuildLogParser on every render of the build page isn't efficient and requires a great deal of ongoing maintenance.

[2011-07-03 04:14] bguthrie commented on #4
I'm having a hard time replicating this; is anyone else seeing it?

[2011-07-03 04:19] ywen commented on #4
Just throw in more info: the env is ruby 1.9.2p136, hosted by nginx + passenger 3.0.7

[2011-07-19 17:47] aabdalla opened #61 "build in progress doesn't honor the 'dashboard_refresh_interval' config"
In site_config.rb I set:

Configuration.dashboard_refresh_interval = 90.seconds

This is because our log files are kinda large and we can have many people looking at the build. When I'm looking at the build in progress it will always auto-refresh every 5 seconds even though. I realize the distinction between project & build but with the auto-refresh I can't scroll down or check out current failure

[2011-07-19 23:44] bguthrie commented on #61
@aabdalla, thanks for the patch. It's been merged, so I'll go ahead and close this out.

[2011-07-19 23:44] #61 closed, assigned to nobody

[2011-08-02 17:20] orenbenkiki opened #63 "Command line options for "cruise add""
1. There is no way to turn off the "interactive" option from the command line.
2. There is no way to pass additional options to the source control objects.

[2011-08-02 17:22] orenbenkiki opened #64 "do_clean_checkout is broken"
(There is a two-years-old ticket #270 with a proposed patch to fix it).

One would expect to be able to just set do_clean_checkout and be done; however this would result in the work directory disappearing and the web server refusing any page requests. There are workarounds, but the documentation doesn't mention any of them or even that this is an issue in the 1st place.

[2011-08-02 23:41] bguthrie commented on #64
Will pull the patch in from the old Lighthouse ticket.

[2011-08-03 18:08] greggersh opened #65 "cc_build.rake uses db:migrate instead of db:schema:load"
db:migrate should only be used by developers, it is not meant to be used as a means to load a database.  db:schema:load should be used instead.  Perhaps also db:seed to seed data.

[2011-08-03 18:09] greggersh opened #66 "cc_build.rake only looks for 'mysql' adapter, should also look for 'mysql2'"
Rails 3 uses the mysql2 adapter, should add that to the list in addition to mysql.

[2011-08-03 18:44] greggersh commented on #65
It's very well established that db:schema:load is the way to go and that you should check in your schema.rb file.  Right now, db:migrate breaks for me because a model that was used in a migration has been removed, which is completely legitimate, as opposed to not checking in your schema, which is just sloppy.  I say support and encourage the correct behavior, rather than account for deviations fro

[2011-08-03 18:58] thewoolleyman commented on #65
reposting prior recomment as myself ;)

"db:schema:load will break if you don't check in schema.rb (which not everyone does). Maybe db:schema:load, with a fallback to migrate if schema.rb doesn't exist?"

[2011-08-03 19:00] thewoolleyman commented on #65
I would say that it is just sloppy to use your app's ActiveRecord Model classes in your migrations, which may go away, as you pointed out.  If you must use an ActiveRecord model, declare a new minimal one in-line in the migration, so that the migration will never break even if you delete the table's corresponding model class from your app.

But I digress.  I think the point is we should support bo

[2011-08-04 14:58] scottillogical opened #67 "Installing latest version"
I don't get it - the latest version in the downloads tab hasn't been updated since 2009.

How are we supposed to a more recent version short of doing a git clone?

[2011-08-04 19:34] greggersh commented on #65
Touche. ;)

[2011-08-05 12:26] tamaloa commented on #65
+1 on db:schema:load

[2011-08-05 12:46] leinster opened #68 "bundle install fails if local bundler version > 1.0.12"
On cloning the repo bundle install fails when I run it with bundler version 1.0.15:

[code]

[2011-08-13 04:37] #68 closed, assigned to nobody

[2011-08-15 02:03] mech opened #70 "Always have "Source Control Error""
When I start CC using ./cruise start --daemon, my builder will run for the very first time. But after that I immediately got "Source Control Error" which suggest that it cannot git fetch origin, but when I do the command line inside, it can :(

[error] /Users/administrator/.cruise/projects/cp/work administrator$ git fetch origin
You don't exist, go away!
fatal: The remote end hung up unexpectedly

[2011-08-15 02:10] thewoolleyman commented on #70
This is probably related to using an incorrect SSH identity/key when accessing github.

This can also be caused because you are proxying your ssh credentials via ssh-agent when you log in and start cruise interactively.

Solution is to make sure that the system has the correct github credentials in your administrator/.ssh/id_rsa - and ensure you aren't proxying any ssh credentials when you restart

[2011-08-15 02:14] mech commented on #70
But why does it work the first time whenever I start CC, but then after that it did not work when interval come?

FYI, it work the very first time whenever I try to do ./cruise start or ./cruise stop, then it will wake up from its sleep and able to correctly get the my private git repo. After that it, the second time, it will not :(

Thanks for such a fast reply above :)

[2011-08-15 02:27] mech commented on #70
When I look at the SourceControl::Git#load_new_changesets_from_origin, there is a comment on a lighthouse ticket on system_gem requirement (probably)

https://cruisecontrolrb.lighthouseapp.com/projects/9150-cruise-control-rb/tickets/229-sometimes-git-hangs

Still investigating.. hopefully will address :)

[2011-08-15 02:49] mech commented on #70
Sori, that was not needed for Ruby 1.9. Please ignore previous comment.

[2011-08-15 05:08] thewoolleyman commented on #70
Sorry, I don't have time to provide more specific instructions right now, but this seems like you are using the wrong github key for some reason.  The ssh-agent scenario I described is one possible cause for this which may not be apparent.  Look into how to disable ssh-agent on your server and client, and see if that helps.

[2011-08-28 10:27] bguthrie commented on #65
The right thing to do if you need to use an ActiveRecord::Base model in your migrations is to re-declare it locally. If the code is checked in and part of your app then it should run; if it doesn't run, it should be fixed or compressed and removed. This is technical debt. If your migrations don't run anymore, then what are they still doing in your db/migrate folder?

I don't want to switch it over

[2011-08-28 10:29] bguthrie commented on #65
The idea of trying to do the right thing based on the presence of schema.rb sounds good to me, but if you've been using db:migrate and don't check it in then won't you already have (an incorrect) one locally?

[2011-08-28 10:32] bguthrie commented on #67
The master branch is being kept up to date but we haven't tagged a formal release in a while. The sticking point on my end is finding a way to package it as a gem that doesn't completely suck (issue #40). When I find one, we'll release. Until then, we're tracking milestone progress here: https://github.com/thoughtworks/cruisecontrol.rb/issues/milestones

[2011-08-28 10:32] #67 closed, assigned to nobody

[2011-08-28 10:35] bguthrie commented on #70
@mech, any luck reproducing? Is it the same issue as in the Lighthouse ticket?

[2011-08-28 10:39] mech commented on #70
@bguthrie, what I did is I remote in using Apple Remote Desktop to open a terminal session and start cruise from there and I use --daemon, but somehow I must make sure I cannot close the terminal window or else the "Source Control Error" will happen again.

Also doing it via SSH is definitely no-no. It has to be in the real machine, and you cannot close the terminal session window even if --daemon

[2011-08-28 10:39] #70 closed, assigned to nobody

[2011-08-29 11:30] #64 closed, assigned to nobody

[2011-08-29 11:31] bguthrie commented on #64
Apologies for the delay on this - personal life kept me from addressing it. Many thanks for the patch. Please let me know if doesn't look okay.

[2011-09-05 08:50] Govinda-Fichtner opened #72 "Couldn't get a file descriptor referring to the console"
I am not really sure if this is an issue with cruisecontrol.rb, but anyhow I need help...
I am running cruise with passenger for the webfrontend and github as coderepository... the builder in general seems to work and individual builds start and run until the end of the migrations.... then I get the error: Couldn't get a file descriptor referring to the console without any additional information.

[2011-09-05 23:53] bguthrie commented on #72
You may have run into your system's limit on the number of open file descriptors, although I couldn't tell you why without knowing a bit more about that box. You can easily increase the limit--Googling around a little bit led me to [this guide](http://www.cyberciti.biz/faq/linux-increase-the-maximum-number-of-open-files/)--or try to figure to figure out why so many are gettng opened--does this box

[2011-09-06 15:47] Govinda-Fichtner commented on #72
Hmmm, I don't think so... the server is an ec2 instance which is only used for cruisecontrol.rb... I don't know the exact reason why it fails... but now I know how to get it to run... might be related to running cc.rb with apache/passenger...
After I changed the cc configuration(site_config.rb) by adding "BuilderStarter.run_builders_at_startup = false" and then starting the builder process manuall

[2011-09-07 17:11] Govinda-Fichtner commented on #72
OK. Found the culprit. It was the cover_me gem trying to open the coverage report in a browser... after configuring the cover_me task like

[code]

everything worked. Sorry for the inconvenience...

[2011-09-07 17:11] #72 closed, assigned to nobody

[2011-09-08 12:47] bguthrie commented on #72
No trouble at all. Glad you were able to figure it out!

[2011-09-12 08:33] nordringrayhide opened #73 "Current documentation contains incorrect information"
http://cruisecontrolrb.thoughtworks.com/documentation/manual#handling_custom_build_artifacts

wrong constnt name CC_BUILD_ARTFACTS. it should be CC_BUILD_ARTIFACTS

[2011-09-19 05:09] hammerdr commented on #63
I've been looking at how this might be implemented and wanted to share the different approaches.

The first approach is to just tack these options on to the current add_project script. This is the simplest solution to implement but introduces additional complexity to the add_project script that will only be related to SCM. For example, if we wanted to do some simple argument checking to inform a u

[2011-09-30 16:30] bguthrie commented on #63
I like the idea of switching to Trollop rather than extending the existing mess. I'm a little leery about going the subcommand route--are the different options really THAT different? If they are, then this seems like a reasonable way to do it, and a reasonable way to extend the cruise command to boot.

Obviously I can't merge the pull request without a bit more testing but I like where you're goin

[2011-10-05 23:00] blakeeb commented on #57
This is still an issue. I'd love to see this implemented. Circumvented it in the meantime by following this guide: http://pivotallabs.com/users/mbarinek/blog/articles/1450-rails-3-with-rvm-and-cruise-control

[2011-10-05 23:03] bguthrie commented on #57
Thanks for the link to the guide - I hadn't seen it before, but it seems like a nice, lightweight solution. If that would suffice for your needs then I'd be happy to follow it as a template for this feature.

[2011-10-06 21:18] bbenthall-rpx commented on #57
Yep! sourcing RVM into the environment is all that's necessary.

[2011-11-09 03:12] owenbyrne opened #78 "Project creation UI workflow requires validation"
The project creation workflow through the UI (Add Project view etc.) requires validation as it's currently possible to rm -rf the ~/.cruise/projects directory by adding a blank project.

To reproduce:
1 - Add Project view
2 - Click create

Params should look like:
[code]

SourceControl.create checks for nil instead of blank, so no exception is raised.
```raise ArgumentError, "options should includ

[2011-11-09 03:25] owenbyrne opened #79 "Code browser route unreachable"
The code browser (e.g. /projects/code/<project_name>/config/application.rb) is currently unreachable due to routes.rb precedence.

[2011-11-12 07:39] #79 closed, assigned to nobody

[2011-11-13 09:02] bguthrie commented on #78
This is definitely alarming; thanks for the report. Taking a look now.

[2011-11-16 09:33] owenbyrne commented on #23
I had a bit of a dig on this, then I checked the closed issues and realised it's been dealt with (serves me right for not checking for dupes first!): https://github.com/thoughtworks/cruisecontrol.rb/pull/24

Anyway, I think it might be worth amending the text we display to the user to be a bit more explicit in letting them know they might be missing out on some useful stuff.

[code]

[2012-01-05 14:56] tcwitte opened #87 "Allow "Build Now" when disable_admin_ui is enabled"
On my build server I've disabled "dangerous" actions with disable_admin_ui. However, this also disables the "Build Now" button. I want to allow that because it's useful and not dangerous.

What do you think about this? I can contribute code if I know what would be accepted. Locally I've changed the code to always allow "Build Now" even when disable_admin_ui is true.

[2012-01-06 06:59] bguthrie commented on #87
I debated whether or not to split the "build now" permission out and ultimately decided against it because it seemed like it was dangerous "enough" - if you're hosting a CC.rb instance publicly, you don't necessarily want people to be able to spam that button, and CC.rb doesn't provide any kind of authentication or access control out of the box.

Any other strong opinions?

[2012-01-06 08:15] tcwitte commented on #87
It's a way to interact with CC.rb, true. In my reasoning I made a distinction between actions that can make the build server unreliable (removing and altering projects, stopping builders) and actions that don't (Build now, starting builders). The reason I like to provide the users of the build server access to "Build Now" is that sometimes random build failures occur (some tests involve Selenium).

[2012-01-20 17:23] crawlik opened #89 "Builder exits unexpectedly"
We downloaded /thoughtworks-cruisecontrol.rb-422b3ee from https://github.com/thoughtworks/cruisecontrol.rb/downloads. Got it installed and running but some projects exit unexpectedly. Here is log trace from builder.log.

[code]

Looks like there an exception which is not handled by this code in  script/builder. Guys any recommendations what to do about it?

[code]

[2012-01-29 04:26] owenbyrne commented on #89
@crawlik - Which version of rails are you using?  From a bit of research it seems that some older versions (2.3.x) may have a bug causing issues with STRERR stream writes in particular circumstances.  I'm unable to find much in the way of compelling documentation on the specifics and/or practical fixes.  If you are using an older version of rails I'd suggest upgrading if that's possible.

If that

[2012-02-08 12:17] tcwitte commented on #87
What's your idea about having two configuration options? (one to make the interface completely read-only and one to disable the administrative functions excluding build now) If you don't like it that's ok. It's just that I'd like to know before putting time in a pull request.

[2012-02-09 21:31] crawlik commented on #89
Here is our environment

Ubuntu 10.04
Rails 3.0.7
thin 1.3.1 codename Triple Espress

Cruise started using this command
`./cruise start thin -d`

[2012-02-25 21:33] ealden opened #93 "Upgrade to Rails 3.2.x"
I just checked out CC.rb's code and realized that it is still in 3.0.7.  Are there plans to upgrade to the latest 3.2 release?

[2012-02-27 10:27] 23tux opened #94 "Test fails but build passes"
I'm on cc.rb 2.0.0pre1 with Ruby 1.9.2, Rails 3.2 and RSpec 2. When I try to run the rake task "spec" and the tests fail, the build passes.
Has that something to do with the exit status returned from the rake task? I read about a bug in Ruby 1.8.6, but nothing with 1.9.2.

[2012-03-03 15:16] 23tux commented on #94
I found out this is a bug with Rails 3.2.1, you should wait for 3.2.2 or use the 3.2.2.rc1 (see here https://github.com/rails/rails/issues/4923).

[2012-03-03 15:16] #94 closed, assigned to nobody

[2012-03-26 13:00] lucassmagal opened #96 "Cruisecontrol.rb on top of Amazon EC2"
Hello,

I was thinking in use Amazon EC2 to run a Continuous Integration Server, so I'll turn it on sometimes in a day to execute tests, or everytime as needed, so I won't pay too much per month.

Is it a good idea? Can I install my cruisecontrol.rb in a regular hosting (Webfaction) and run all the tests in a EC2 machine?

[2012-04-14 03:17] javanthropus opened #98 "Running cruise add --help starts builders for existing projects"
When running `cruise add --help` from the current master branch, an attempt is made to start all builders for all existing projects in the background.  If the builders are not already running, they will be started; otherwise, errors are reported about file lock ownerships:

[code]

or

[code]

This happens because the `cruise` script forces the Rails environment to be set to production prior to lo

[2012-07-02 15:21] piotrmasior opened #103 "builder exits, cruise process still up"
Hey I encountered  very strange behavior and I am not sure what cause the error. Builder log:

[code]

note: when I started cruise via:

[code]

everything works perfectly a few hours... and after that occasional error builder process is killed

env:

[code]

[2012-08-23 15:25] mhoofman opened #104 "Change default git branch"
I'm attempting to change a project's default git branch from what was originally set up. Currently its building from the git project's master branch. I would like to change it to "development".

I added the following line in `.cruise/projects/my_project/cruise_config.rb`:

[code]

After a restart and new build it continues to source from the master branch.

Is there some other configuration needed

[2012-09-10 17:27] todd-a-jacobs opened #105 "Builder doesn't understand parameterized rake tasks"
I'm currently using CruiseControl.rb from source, where HEAD is currently SHA: 422b3ee1dc08e7512e3a11dac4324545b413d819. This may or may not matter to the issue, but it's worth knowing that it's present in HEAD, and not some legacy version.

Given a project-specific **cruise_config.rb** file as follows:

[code]

The builder will fail, and the following entry placed into the builder.log:

However,

[2012-09-27 10:57] emilsoman commented on #78
Thanks @eightbitraptor for posting the link to the fix . @bguthrie : Why is this fix not yet taken ? It's a very serious issue , in my opinion .

[2012-11-26 15:38] jacob-carlborg opened #107 "Email notification sent when test is still running"
I get an email notification saying that the test failed even though the test is still running.  It happens regardless if the test later passes or fails. I'm using 422b3ee1dc.

[2012-11-26 15:40] jacob-carlborg opened #108 "site_config.rb seems to be ignored"
The settings I put in `site_config.rb` don't seem to have any effect. For example, `ActionMailer::Base.smtp_settings` and `Configuration.dashboard_url` don't have any effect. Although if I put `ActionMailer::Base.smtp_settings` in the `cruise_config.rb` file in the repository it works.

[2012-12-10 11:24] stuzart opened #111 "Nil error with empty commit messages"
Using mercurial, there was a commit with an empty commit message. This led to the error:
[error] undefined method `[]' for nil:NilClass
[error]   /srv/rails/cruisecontrol/lib/source_control/mercurial/log_parser.rb:41:in`parse_for_message'
[error]   /srv/rails/cruisecontrol/lib/source_control/mercurial/log_parser.rb:17:in `parse'
[error]   /srv/rails/cruisecontrol/lib/source_control/mercurial/log_p

[2013-01-25 15:28] wellinformed opened #113 "Download links broken, there's nowhere to download the project from anymore."
Link from http://cruisecontrolrb.thoughtworks.com to https://github.com/thoughtworks/cruisecontrol.rb/downloads shows that "There aren't any uploads for this repository".

[2013-01-30 15:51] jdickey commented on #113
Five days; no reply and no action on this? Wow. Just wow.

[2013-02-03 17:09] jdickey commented on #93
It can apparently be updated to 3.0.20 just by editing `cruisecontrol.gemspec`. However, most of the other Gems are also outdated, several egregiously so. Looking at the network graph, it's pretty obvious that lots of people are scratching their own worst itches, but updates to Thoughtworks' master branch have been few. I'm debating between yet another fork-and-scratch-my-own-itches or going with

[2013-03-21 04:29] tobyhs commented on #1
The commit above (tobyhs@b37c2bb) should also include tobyhs@09b84d5 (which is basically https://github.com/tobyhs/cruisecontrol.rb/tree/svn_externals_upgrade).

[2013-04-23 11:43] matteograndi commented on #104
Hi, now me too have the some problem.

Have you fixed that problem, now?

[2013-04-23 14:56] matteograndi commented on #113
see this link https://github.com/thoughtworks/cruisecontrol.rb cut the 'downloads' part

[2013-04-23 19:16] bguthrie commented on #113
To the best of my knowledge the project is no longer actively maintained.

[2013-05-02 18:14] mhoofman commented on #104
I was not able to fix this issue. I moved to an alternative CI.

[2013-05-03 07:45] matteograndi commented on #104
Me too.

But I saw that you can resolve the matter by declaring the program via shell by adding the option -b or --branch instead of on the dashboard

[2013-10-04 02:31] seanmarcia commented on #93
This is on the horizon. Now that I have access I can start pulling in all the great work that people are doing as well as my own. I'm planning on spending some time soon to map things out.

[2013-10-17 05:42] synth commented on #93
i just upgraded cruisecontrol to 3.2 successfully, got all tests passing tonight.  having unrelated build issues on my own project so i'm not quite ready for a pull request. but if anyone wants to, they can check out my fork: https://github.com/planetio/cruisecontrol.rb

[2013-10-17 05:44] synth commented on #93
One thing that I would like feedback on is that there is a conflict with ActiveSupport's Configuration class.  CruiseControl's Configuration is in the global namespace.  In my fork, I got everything working by scoping the Configuration class underneath the module CruiseControl.  This is fine except for the fact that it is not backwards compatible and will break existing site_config's.  Don't know

[2013-10-22 15:03] seanmarcia commented on #93
I saw on a couple forks that they've also upgrade to 3.2 and I'm looking to see what their approach was. I'm also unsure how important it is to be backwards compatible at this point... I know the rails core team stated they are not going to support 2.3 going forward and I have to imagine that 3.0 isn't too far off.

[2013-10-23 06:58] synth commented on #93
maybe we should continue on to rails 4.0? :)  I've been using my branch consistently now in my CI loop and its pretty solid.  The only thing that potentially needs work is the build failure email has no html formatting at the moment.  If i get more time I'll try to take a look.

[2013-10-23 07:01] ajeygore commented on #93
I think if it's worth then let's try to merge the forks
On Oct 23, 2013 12:28 PM, "Peter Philips" notifications@github.com wrote:

[2013-10-23 20:24] #93 closed, assigned to nobody

[2013-11-08 13:13] ianheggie commented on #57
Similar issue with rbenv ... also consider detecting .ruby-version (which both rvm and rbenv detect)

[2013-11-08 13:29] ianheggie opened #122 "Wildcards in branch name for testing feature branches"
It would be great if we could put a wildcard in branches, eg t[0-9]\* which would match our feature branches (we name the branches tNNN_some_description_here where NN is the trac ticket number

This would match possibly multiple branches, with the latest version in each branch being tested.

What do people think?

[2013-11-12 21:19] seanmarcia commented on #122
This doesn't seem like a bad idea even though I'm not sure I'd get much use out of it. I think I'd probably revert to manually entering the branch name to ensure it is testing the correct one and not an incorrectly labelled version.

[2013-11-12 21:29] seanmarcia commented on #113
Fixed

[2013-11-12 21:29] #113 closed, assigned to nobody

[2013-11-12 21:30] seanmarcia commented on #111
Sorry for the slow response, I only recently got access to the project. Since it has been so long I'm closing this but if this is still an issue let me know!

[2013-11-12 21:30] #111 closed, assigned to nobody

[2013-11-12 21:31] seanmarcia commented on #108
Sorry for the slow response, I only recently got access to the project. Since it has been so long I'm closing this but if this is still an issue let me know!

[2013-11-12 21:31] #108 closed, assigned to nobody

[2013-11-12 21:31] seanmarcia commented on #107
Sorry for the slow response, I only recently got access to the project. Since it has been so long I'm closing this but if this is still an issue let me know!

[2013-11-12 21:31] #107 closed, assigned to nobody

[2013-11-12 21:35] seanmarcia commented on #105
Sorry for the slow response, I only recently got access to the project and with the help of a few others are in the process of triage. Since it has been so long I'm closing this but if this is still an issue let me know!

[2013-11-12 21:35] #105 closed, assigned to nobody

[2013-11-12 21:35] seanmarcia commented on #104
Sorry for the slow response, I only recently got access to the project and with the help of a few others are in the process of triage. Since it has been so long I'm closing this but if this is still an issue let me know!

[2013-11-12 21:35] #104 closed, assigned to nobody

[2013-11-12 21:35] seanmarcia commented on #103
Sorry for the slow response, I only recently got access to the project and with the help of a few others are in the process of triage. Since it has been so long I'm closing this but if this is still an issue let me know!

[2013-11-12 21:35] #103 closed, assigned to nobody

[2013-11-12 21:36] #65 closed, assigned to nobody

[2013-11-12 21:36] seanmarcia commented on #66
Sorry for the slow response, I only recently got access to the project and with the help of a few others are in the process of triage. Since it has been so long I'm closing this but if this is still an issue let me know!

[2013-11-12 21:36] #66 closed, assigned to nobody

[2013-11-12 21:37] #52 closed, assigned to nobody

[2013-11-12 21:37] seanmarcia commented on #23
Sorry for the slow response, I only recently got access to the project and with the help of a few others are in the process of triage. Since it has been so long I'm closing this but if this is still an issue let me know!

[2013-11-12 21:37] #23 closed, assigned to nobody

[2013-11-12 21:37] #25 closed, assigned to nobody

[2013-11-12 21:41] seanmarcia opened #124 "Todo"
Here is a general todo list:
- Deprecate/remove Rcov and switch to something compatible with ruby2 like simplecov.
- If simplecov is decided upon, perhaps add in a simplecov tab like what was done with brakeman.
- Get access to the cruisecontrolrb.thoughtworks.com website and update it or ask them to point the CNAME at a different repo.
- New screencast is needed.
- what else?

[2013-11-13 09:13] jacob-carlborg commented on #108
Seems it's working.

[2013-11-13 09:13] jacob-carlborg commented on #107
I have not hit this issue in a long time. Hopefully gone :smiley:

[2013-11-14 00:56] cvoltz commented on #124
I vote for Simplecov. I have been using it for a while with CC.rb and it
works well. I also like the idea of making the results available on
another tab.

Christopher

On 11/12/2013 03:41 PM, SeanMarcia wrote:

[2013-11-18 21:51] seanmarcia commented on #124
Not many comments yet :( I need to review the various forks again and look for ideas before deciding on tasks.

[2013-11-30 14:18] ianheggie commented on #122
I use a lot of feature branches labeled tNNN_some_description (where NNN is the ticket number) ... having them automatically tested would be great.

[2013-12-02 18:09] seanmarcia commented on #122
_crickets_

I've never used that convention. My branches tend to be things like "integrated_cas" and then something like "integrate_cas_with_tdd" which I suppose it something like yours but would require a lot of additional customization.

[2013-12-22 04:04] mlpinit commented on #124
:+1: for simplecov

[2013-12-27 09:23] jdickey commented on #124
:+1: for simplecov and the new tab as well.

I see the site is still unchanged; any word on when that's going to be up and happy? Being able to point new hires to that as part of a toolchain-setup task list would be Very Helpful.

[2014-01-08 19:23] seanmarcia commented on #124
Hey guys, sorry for the slow reply I've been lagging because I'm actually waiting to hear back from Thoughtworks... I've contacted a couple people there and am still waiting.
If anyone has any contacts there please let me know.

[2014-01-29 17:15] shlima commented on #124
Hello. I've just start using CC.rb, but the UI is poor for me. Are there any themes? I can start making a new one, what shall I keep up to be able to contribute my version of UI into the official CC.rb repo? I am going to use Bootstrap with Sass and make a responsive markup of course.

[2014-01-31 04:22] seanmarcia commented on #124
A new and updated theme or layout would be fantastic. I agree that the current theme does feel a little dated and should be updated to something responsive.

[2014-01-31 08:28] shlima commented on #124
Ok, I assign this task on me

[2014-01-31 09:14] shlima commented on #124
Also a new clean and stylish CC logotype is required

[2014-02-16 13:26] ianheggie opened #129 "test errors introduced by a merge"
Hi,

I went to merge this into my fork, but one of the tests is failing - git bisect listed:

Finished tests in 0.647438s, 98.8512 tests/s, 333.6227 assertions/s.

  1) Failure:
test_GET_/projects_should_not_render_the_Add_Project_tab_if_the_admin_UI_is_disabled_in_the_site_configuration(ProjectsControllerTest) [test/functional/projects_controller_test.rb:58]:
Expected exactly 0 elements matching

[2014-02-18 21:44] #129 closed, assigned to nobody

[2014-03-16 18:36] stufently commented on #124
Really need replace rcov to simplecov for compatibality with  ruby 2.0.0

[2014-08-18 07:11] stufently opened #133 "Not work send emails after cruise update to latest version"
In builder log I got this error
[error] [2014-08-17 21:53:53] Error sending e-mail - current server settings are :
  :address = "localhost"
  :domain = "staff.mymilenium.ru"
[error] uninitialized constant ActionView::CompiledTemplates::Configuration

I try change smtp server to gmail and got same error.

[2015-02-20 16:44] epinault opened #134 "Is this project still active?"
1) I noticed the download link from docs and thoughtwork website points to a link with no download

try

https://github.com/thoughtworks/cruisecontrol.rb/downloads

2) What is the state of this project? Is this still active or is this dead?

[2015-02-20 20:07] vizcay commented on #134
+1 What is the state of this project? Is this still active or is this dead?

[2015-04-17 02:43] alexeyv commented on #134
As far as I understand, it's dead.

I was heavily involved back in 2010, but nowadays I just default to TeamCity. It has a free license option that's plenty good enough for everything CC.rb was good for back in the day. It's not the only alternative either, just the most obvious and highly polished one.

[2015-04-17 06:56] jdickey commented on #134
I, too, am sad to see cruisecontrol.rb die, but have accepted reality and moved on. Whether you prefer a local tool like TeamCity per @alexeyv, or a hosted solution like CodeShip (which I use and love), CircleCI or Travis, it's a commodity bit of infrastructure now — a far different world from when cc.rb was the bee's knees.

[2015-04-17 16:05] epinault commented on #134
how sad. Was like a simple solution that works great for simple rails/ruby project. Thanks for the update

[2015-04-17 16:05] #134 closed, assigned to nobody

[2015-06-18 23:20] baughmann opened #135 "Looks like link to docs is broken"
Seems as though cruisecontrolrb.thoughtworks.com isn't working. Let me know if it's just me. Tried it on here and my phone and got a timeout.

[2015-06-19 23:06] deivid-rodriguez commented on #135
Yep, it's broken. Is someone mantaining this project?

[2015-06-19 23:12] baughmann commented on #135
Doesn't look like it, unfortunately. I don't really know where to start for CI.

[2015-06-19 23:31] deivid-rodriguez commented on #135
@SeanMarcia You're the last commiter. Do you know anything? Is it abandoned?

[2015-06-20 09:09] jdickey commented on #135
@nickdb93 There have been several tutorials published for setting up CI locally using Docker or Vagrant; check your search engine of choice or StackOverflow. We chose to move to a service, of which there are numerous choices out there. We use and recommend [CodeShip](https://codeship.com/), but others I've used successfully include [CirclieCI](https://circleci.com/) and [Travis CI](https://travis-